# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
olympic = pd.read_cvs(https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/olympics.csv)

In [ ]:
import numpy as np
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [18]:
max =  np.where(np_olympic_country_Gold==np.max(np_olympic_country_Gold))
print('The country with Max number of gold medals is:',np_olympic_country[max])

The country with Max number of gold medals is: ['US']

## 3.	Find countries with more than 20 gold medals

In [16]:
moreThan20_medals=np_olympic_country_Gold >20
np_olympic_country_Gold[moreThan20_medals]
gm = np.where(np_olympic_country_Gold >20)

print('the countrieas with more than 20 medals are:',np_olympic_country[gm])

the countrieas with more than 20 medals are: ['GBR' 'China' 'RUS' 'US']